<div class="card"
     *ngFor="let recipient of model">
  <div class="card-body">
    <h5 class="card-title">{{recipient.name}}</h5>
    <p class="card-text"
       *ngIf="recipient.email !== ''">{{recipient.name}} can be contacted at <a
         href="mailto:joe@aol.com">{{ recipient.email }}</a>
    </p>
    <p class="card-text"
       *ngIf="recipient.email === ''">No Email Provided</p>
    <em>Holidays:</em>
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let holiday of recipient.holidays">{{holiday.description}}</li>
    </ul>
  </div>
</div>
